/* Contact.module.css */
.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactOptions {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 24px;
  color: rgb(3, 22, 38);
}

.button{
  height: 40px;
  width: 120px;
  text-align: center;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(3, 22, 38);
  color: white;
  border: 0px;
  font-size: 20px;
}

.button:hover{
  background-color: white;
  color: rgb(3, 22, 38);
  transform:scale(1.1);
  transition: 0.5s;
  border: 2px solid rgb(3, 22, 38);
  font-size: 20px;
}
