img{
  position: relative;
  top:3px;
  height: 60px;
  width: 150px;
  background-color: white;
}

.navlist{
  width: 700px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

a{
  color: white;
}

a:hover{
  font-size: 15px;
  color: rgb(83, 106, 128);
}

.Navbar{
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(7, 70, 129);
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 10px 10px 40px 5px rgb(22, 81, 145);
}

@media (max-width: 768px) {
  .Navbar {
    flex-direction: row;
    height: 30px;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    box-shadow: none;
  }

  .navlist {
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 0;
    list-style: none;
  }

  .navlist li {
    margin: 10px 0;
  }

  .Navbar img {
    position: relative;
    width: 50px;
    height: 30px;
    left: 0px;
  }
}